# Ignore log files
*.log

# Ignore compiled Python files
*.pyc
*.cache
*.db
*.json
*.exe
*.zip
*.toc
*.pyz
*.spec
*.ico
*test.txt
*.sql
*.props
*.asm
*.targets
*.csproj
*.pkg
*.config
*.manifest
*.conf 
*.gch
test.py
Atest.py
testjng/
*t.py
__pycache__/
*.swp
dist/
build/
testj/